.bookingItemHeading{

    font-weight: 600;

    font-size: 25px;

}

.bookingsPageHeading{

    font-size:30px;

}

 

.bookingDetails{

    color: #666;

    .bookingValues{

        font-weight: 500;       

        color: black

    }

}